<html>
  <body>
    <table>
      <tr>
        <th>Character</th>
        <th>Planet</th>
        <th>Constelation</th>
        <th>Type</th>
        <th>Raw QtyPerHour</th>
        <th>ProductName</th>
        <th>Next Attention</th>
        <th>StorageFullAt</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.Character}}</td>
        <td>{{.PlanetName}}</td>
        <td>{{.ConstelationName}}</td>
        <td>{{.PlanetType}}</td>
        <td>{{.Extracted}}</td>
        <td>{{.ProductName}}</td>
        <td>{{.NextAttention}}</td>
        <td>{{.StorageFullAt}}</td>
      </tr>
      {{end}}
  </body>
</html>
