<html>
  <body>
    <table>
      <tr>
        <th>Account</th>
        <th>Character</th>
        <th>PlanetName</th>
        <th>ConstelationName</th>
        <th>PlanetType</th>
        <th>BIF Count</th>
        <th>Extracted</th>
        <th>Next Attention</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.Account}}</td>
        <td>{{.Character}}</td>
        <td>{{.PlanetName}}</td>
        <td>{{.ConstelationName}}</td>
        <td>{{.PlanetType}}</td>
        <td>{{.BIFCount}}</td>
        <td>{{.Extracted}}</td>
        <td>{{.NextAttention}}</td>
      </tr>
      {{end}}
  </body>
</html>
